
  


<!-- <div class="sidebar">
  <i class="fab fa-twitter"></i>
  <div class="sidebarOption active">
    <span class="material-icons"> home </span>
    <a href="/">Home</a>
  </div>
  <% if (!user) { %>
  <div class="sidebarOption">
    <span class="material-icons">
      login
      </span>
    <a href="/login">Login</a>
  </div>

  <div class="sidebarOption">
    <span class="material-icons">
      how_to_reg
      </span>
    <a href="/registro">registro</a>
  </div>
  <% }else{ %>

  

  <div class="sidebarOption">
    <span class="material-icons">
      account_circle
      </span>
    <a href="/profile">Profile</a>
  </div>
  
  <div class="sidebarOption">
    <span class="material-icons">
      logout
      </span>
      <a href="/logout" class="btn btn-danger">log-out</a>
  </div>
  
  <% } %>
  <button  class="sidebar__tweet">Tweet</button>
</div>  -->
