<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="container">
			<form action="/crear" method="post">
				<header class="head">
					<h3>Nuevo Tweet</h3>
				</header>
				<textarea
					type="text"
					name="content"
					id="content"
					placeholder="contenido"
					maxlength="140"
				></textarea>
				<button type="submit">Send</button>
			</form>
		</div>
	</body>
</html>
