body{
    background-color: black;
}
#icono{
    margin-left: 6rem;
    width: 15rem;
    margin-top: 1rem;
}
#titulo1{
 margin-top: rem;
 font-size: 70px;
 color: white;
}

#titulo2{
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    color: rgba(255, 255, 255, 0.716);
}
#formLogin{
    margin-left: 1.5rem;
}
#button{
    margin-left: 3.5rem;
}
#register{
    margin-left: 3.5rem;
}
#kittilogin{
	height: 20rem;
}

#iconlogin{
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
	background-size: cover;
	background-repeat: no-repeat;
}

#fondoLogin{
  background-color: black;
}

