.img_bg{
   background-image: url("/img/twitter_bg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 37.9rem;
  
   

}
.img_kitti{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 15rem;
}
.text-end{
   
   background-size: cover;
}